<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203509905936-k7grb0t05kurdooevcq8u50u7uuve490.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203509905936-k7grb0t05kurdooevcq8u50u7uuve490</string>
	<key>API_KEY</key>
	<string>AIzaSyBDIjCXdxAyoheOZrMmRt2Q4qSSpcE3bkw</string>
	<key>GCM_SENDER_ID</key>
	<string>203509905936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sendbirdFlutterDemo</string>
	<key>PROJECT_ID</key>
	<string>sendbirdcalls-cff3a</string>
	<key>STORAGE_BUCKET</key>
	<string>sendbirdcalls-cff3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203509905936:ios:c0e233b2b1ddf8096d6895</string>
</dict>
</plist>
